//Container Width
$desktopWidth: 1260px;

//Media query
$laptopMedia: 1420px;
$tabletMedia: 1259px;
$mobileMedia: 767px;
$mobileMediaSmall: 375px;

//Container gutter
$desktopGutter: 30px;
$tabletGutter: 60px;
$smallTabletGutter: 40px;
$mobileGutter: 30px;
$mobile320Gutter: 16px;

//Grid gutter
$gridGutter: 10px;
$gutter-desktop: 80px;
$gutter-mobile: 60px;
$gutter-video-conf-mobile: 40px;
$header-height-desktop: 100px;
$header-height-mobile: 65px;
