.Burger {
  position: absolute;
  right: 0;
  background: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  height: 60px;
  width: 60px;
  z-index: 100;

  i {
    position: absolute;
    display: block;
    width: 32px;
    height: 3px;
    background-color: #0041f6;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);


    &:before, &:after {
      content: "";
      position: absolute;
      top: 10px;
      display: block;
      width: 32px;
      height: 3px;
      background-color: #0041f6;
      transition: all 0.3s ease;
    }

    &:after {
      top: -10px;
    }
  }

  &.open {
    i {
      background-color: transparent;

      &:after {
        transform: rotate(-45deg);
        top: 0;
        transition: all 0.3s ease;
      }

      &:before {
        transform: rotate(45deg);
        top: 0;
        transition: all 0.3s ease;
      }
    }
  }
}

